input[type="radio"] + label {
  font-family: monospace;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.red {
  color: var(--color-error-llamativo-extra);
}

#equip4,
#inst1,
#serv1,
#pos1,
#mej1,
#coment1 {
  width: 100%;
}

textarea {
  font-family: monospace;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  resize: none;
}

fieldset {
  padding: 16px;
  border-radius: 8px;
  border: 2px solid var(--color-principal);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

legend {
  padding: 0 5px;
}

form .btn-custom {
  max-width: min-content
}

.send-form {
  max-width: min-content;
}

.hiddenInput{
  display: none;
}

.confirm-message {
  color: green;
}

@media (max-width: 320px) {
  fieldset {
    padding: 0px;
    border-radius: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  legend {
    margin-bottom: 10px;
    padding: 0;
  }

  .send-form {
    justify-self: center;
    align-self: center;
  }

  form h3 {
    font-size: 1rem;
    align-self: center;
  }
}