.modal {
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.hiddenModal {
  display: none;
}

.modal::-webkit-scrollbar {
  width: 8px;              
}

.modal::-webkit-scrollbar-track {
  background: white;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--color-texto);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - (48px * 2));
  position: relative;
  background-color: var(--color-fondo);
  border-radius: 16px;
  color: var(--color-texto);
  overflow-y: auto;

}


.modal-container::-webkit-scrollbar {
  width: 8px;
}

.modal-container::-webkit-scrollbar-track {
  background: white;
}

.modal-container::-webkit-scrollbar-thumb {
  background-color: var(--color-texto);
}

.btn-close::before {
  position: absolute;
  right: 24px;
  top: 25px;
  font-size: 25px;
}

.btn-close:hover {
  color: var(--color-error-llamativo-extra);
}

@media (max-width: 576px) {

  .modal-container {
    min-height: 100vh;
    margin: 0;
    border-radius: 0;
    padding: 16px 16px 73px 16px;
  }

  .btn-close::before {
    right: 16px;
    top: 17px;
    font-size: 25px;
  }
}