main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  color: var(--color-texto);
}

.home-container {
  min-height: calc(100vh - 50px - (48px * 2));
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-home {
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); */
  width: 250px;
  height: 250px;
  opacity: 90%;
}

.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-fondo);
  width: 100%;

}

.text-container {
  display: flex;
}

.text-card {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border-radius: 16px;
  min-height: 100%;

  background: rgba(255, 255, 255, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

main h2 {
  text-align: center;
  font-weight: 600;
}

.slogan {
  text-align: start;
}

.home-card {
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
  background-color: var(--color-fondo);
  align-self: flex-end;
  justify-self: flex-end;
}

.home-card img {
  border-radius: 100%;
  height: 200px;
  outline: 5px solid white;
  filter: grayscale(40%);
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.5);
}



.home-card-text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .home-container {
    flex-direction: column-reverse;
  }

  .home-card {
    flex-direction: column;
  }

  .home-text-container {
    align-items: center;
  }

  .slogan {
    text-align: center;

  }
}

@media (max-width: 768px) {
  .text-container {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .logo-home {
    width: 200px;
    height: 200px;
  }

  .home-text-container {
    padding: 0;
  }

  .home-card {
    padding: 1.5rem;
  }

  .home-card h3 {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .home-container {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .logo-home {
    width: 150px;
    height: 150px;
  }

  .home-card img {
    width: 150px;
    height: 150px;
  }
}