.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.btn-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header-contact {
  text-align: start;
}

.btn-contact {
  cursor: pointer;
  font-weight: 300;
  padding: 13px 13px;
  color: var(--color-fondo);
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--color-cursor);
  transition: all 0.5s ease;
  font-size: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: min-content;
  border-radius: 100%;
  width: 51px;
  height: 51px;
}

.btn-contact:hover {
  background-color: var(--color-principal);
}

.bi-whatsapp::before {
  font-size: 25px;
}

.bi-telephone {
  font-size: 25px;
}

.bi-instagram {
  font-size: 25px;
}

.map-container {
  position: relative;
}

.text-center {
  text-align: center;
}

.google-maps {
  border-radius: 8px;
  width: 100% !important;
  min-height: 400px;
  border: 2px solid var(--color-principal);
}

@media (max-width: 576px) {
  .contact-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .btn-contact-container {
    flex-direction: column;
  }

  .btn-contact {
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .header-contact {
    text-align: center;
  }

  .contact-container {
    grid-template-columns: 1fr ;
    justify-content: center;
  }
}
