nav {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-fondo);
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.7s ease-in-out;
}

.navReveal {
  color: var(--color-texto);
  background: var(--color-fondo);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.navBackgorund {
  color: var(--color-texto);
  background-color: white;
}


.navbar-title {
  font-weight: 600;
}

.bi-list::before {
  font-size: 40px;
}

.blackout {
  z-index: 2;
  display: block;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
}

.fade {
  background-color: rgba(0, 0, 0, 0.0);
}

.hiddenBlackout {
  display: none;
  background-color: rgba(0, 0, 0, 0.0);
  transition: all 0.3s ease;
}

.menu {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: none;
  transition: all 0.3s ease;
  background-color: var(--color-fondo);
}

.menu-header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.menu-title{
  font-weight: 400;
}

.menu-container {
  height: 100%;
  overflow-y: auto;
}

.menu-container::-webkit-scrollbar {
  width: 8px;              
}

.menu-container::-webkit-scrollbar-track {
  background: white;
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: var(--color-texto);
}

.menu li {
  display: flex;
  list-style: none;
}

.menu-item {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 15px 20px;
  padding-right: 54px;
  color: var(--color-texto);
  text-decoration: none;
  transition: all 0.5s ease;
}

.menu-item:hover {
  background-color: var(--color-secundario-alt);
  color: var(--color-texto);
}

.secondary-menu-container {
  border-top: 3px solid rgba(51, 55, 76, 0.5);
}

.secondary-menu-list {
  width: 100%;
}

.hiddenMenu {
  right: -217.33px;
}

.active {
  color: var(--color-fondo);
  background-color: var(--color-principal);
}

@media (max-height: 452px) {
  .hiddenMenu {
    right: -225.33px;
  }


}