@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --color-fondo: #e8e9ec; /* textos con gb de color-secundario*/
  --color-cursor: #99735c; /* #262a3f */ /* botones activos */
  --color-principal: #bf8f73; /* #2d539e */
  --color-secundario: #adb1c4; /* titulos, textos, bg de textos*/
  --color-secundario-alt: #d1d1d1; /* #ccceda */ /* cards, botones inactivos */ 
  --color-borde: #8e92a3; /* hover de botones, bordes*/
  --color-texto: #33374c; /* hover de botones, bordes*/
  --color-error: #cc517a;
  --color-error-extra: #cc3768;
  --color-error-llamativo: #cc517a;
  --color-error-llamativo-extra: #cc3768;
  --sombra: 0px 3px 4px rgba(0, 0, 0, 0.5);
  --gradiante: 0deg, rgba(255,250,237,1) 0%, rgba(177,175,170,1) 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid red; */
}

h1, h2, h3, h4, h5, h6, small{ 
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  background-color: var(--color-secundario-alt);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  min-height: calc(100vh - 50px - (48px * 2));
}

.bodyScroll {
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 8px;              
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-principal);
  /* border-radius: 0px;
  border: 3px solid white; */
}

.btn-custom {
  cursor: pointer;
  padding: 8px 13px;
  font-size: 16px;
  color: var(--color-fondo);
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--color-cursor);
  transition: all 0.5s ease;
  border: none;
  outline: none;
}

.btn-custom:hover {
  background-color: var(--color-principal);
}

.divider {
  height: 3px;
  width: 100%;
  background-color: var(--color-texto);
  opacity: 50%;
}