
/* background-image: url('fondo.jpg');
background-position: center;
background-size: cover; */
.image-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 100vh;
}

.bg-image {
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  filter: sepia(20%) contrast(100%) brightness(75%);
}